.create-account {
  align-self: center;
  background-color: white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: black;
  max-width: 40rem;
  width: 100%;
  padding: 1rem 2rem 5rem;
}

.create-account form {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
}

.avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 3rem;
  object-fit: cover;
  overflow: hidden;
}

div[data-theme="dark"] {
  .create-account {
    background-color: black;
    color: white;
  }
}
