.create-account {
    align-self: center;
    background-color: white;
    color: black;
    max-width: 40rem;
    padding: 1rem 2rem 5rem;
}
  
.create-account form {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  .create-account {
    background-color: black;
    color: white;
  }
}