.create-account {
    align-self: center;
    background-color: white;
    color: black;
    max-width: 40rem;
    padding: 1rem 2rem 5rem;
}
  
.create-account form {
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
}

.avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 3rem;
  object-fit: cover;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .create-account {
    background-color: black;
    color: white;
  }
}