.profile {
    background-color: rgb(255 255 255 / 60%);
    box-sizing: border-box;
    color: black;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    padding: 1rem 2rem;
  }
  
.profile form {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
}

.avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 3rem;
  object-fit: cover;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .profile {
    background-color: rgb(0 0 0 / 60%);
    color: white;
  }
}