.room {
  background-color: rgb(255 255 255 / 20%);
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  min-width: 18rem;
}

.room-container {
  background-color: rgb(255 255 255 / 60%);
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  max-width: 40rem;
  margin: 1rem;
  padding: 2rem;
  width: 100%;
}

.room-header {
  display: flex;
  align-items: center;
  background: rgba(255 255 255 / 60%);
  border-bottom: 0.1rem solid white;
  box-sizing: border-box;
  color: black;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  overflow: scroll;
  transition:
    max-height 1s linear,
    padding-top 1s linear,
    padding-bottom 1s linear;
  width: 100%;
}

.room-header-hidden {
  border-width: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.room-header-container {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 40rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.room-header-background {
  max-height: 10rem;
  max-width: 40rem;
  object-fit: cover;
  width: 100%;
}

.room-header h2 {
  font-size: 3rem;
  margin: 0;
}

.room-created-at {
  color: rgb(0 0 0 / 60%);
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}

.room-description {
  margin: 0 0 0.5rem;
  width: 100%;
  word-wrap: break-word;
}

.posts {
  align-items: center;
  background: rgb(255 255 255 / 80%);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  padding: 1rem 1rem 0;
  width: 100%;
}

.new-post-form {
  align-items: center;
  background: rgb(255 255 255 / 60%);
  border-top: 0.1rem solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
  padding: 0.5rem 1rem;
  transition:
    max-height 1s linear,
    padding-top 1s linear,
    padding-bottom 1s linear;
  width: 100%;
}

.new-post-form-hidden {
  border-width: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.new-post-form-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
}

.new-post-sections {
  background: rgb(255 255 255 / 60%);
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 40rem;
  overflow: hidden;
  width: 100%;
}

.new-post-text-section {
  background: none;
  border: none;
  box-sizing: border-box;
  color: black;
  flex: 1;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 1rem;
  resize: none;
  outline: none;
}

.new-post-text-section::placeholder {
  color: rgb(0 0 0 / 60%);
}

.new-post-text-section:focus {
  background: rgb(255 255 255 / 60%);
}

.new-post-button {
  align-items: center;
  background-color: rgb(0 0 0 / 20%);
  border: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  font-family: "M PLUS Rounded 1c", sans-serif;
  height: 2rem;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0.5rem;
  outline: none;
}

.new-post-button:hover {
  background-color: rgb(0 0 0 / 10%);
}

.new-post-button:active {
  background-color: rgb(0 0 0 / 0%);
}

.new-post-button svg {
  fill: black;
  width: 1rem;
}

.new-post-button-text {
  color: black;
  margin-left: 0.5rem;
}

div[data-theme="dark"] {
  .posts {
    background-color: rgb(0 0 0 / 80%);
    color: white;
  }

  .room {
    background-color: rgb(0 0 0 / 20%);
    color: white;
  }

  .room-container {
    background-color: rgb(0 0 0 / 60%);
    border: 0.1rem solid black;
  }

  .room-header {
    background: rgba(0 0 0 / 60%);
    border-bottom: 0.1rem solid black;
    color: white;
  }

  .room-created-at {
    color: rgb(255 255 255 / 60%);
  }

  .new-post-form {
    background: rgb(0 0 0 / 60%);
    border-top: 0.1rem solid black;
  }

  .new-post-sections {
    background: rgb(0 0 0 / 60%);
    border: 0.1rem solid black;
    color: white;
  }

  .new-post-text-section {
    background: none;
    color: white;
  }

  .new-post-text-section::placeholder {
    color: rgb(255 255 255 / 60%);
  }

  .new-post-text-section:focus {
    background: rgb(0 0 0 / 60%);
  }

  .new-post-button svg {
    fill: white;
  }

  .new-post-button {
    background-color: rgb(255 255 255 / 20%);
  }

  .new-post-button:hover {
    background-color: rgb(255 255 255 / 10%);
  }

  .new-post-button:active {
    background-color: rgb(255 255 255 / 0%);
  }

  .new-post-button-text {
    color: white;
    margin-left: 0.5rem;
  }
}
