.room {
  background-color: rgb(255 255 255 / 20%);
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  overflow-y: scroll;
}

.room-container {
  background-color: rgb(255 255 255 / 60%);
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  max-width: 40rem;
  width: 100%;
  margin: 1rem;
  padding: 2rem;
}

.room-header {
  align-items: center;
  background: linear-gradient(0deg, rgb(255 255 255 / 60%), transparent);
  box-sizing: border-box;
  color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 100%;
}

.room-header-container {
  box-sizing: border-box;
  max-width: 40rem;
  width: 100%;
}

.room-header h2 {
  font-size: 3rem;
  margin: 0;
}

.room-created-at {
  color: rgb(0 0 0 / 60%);
  margin-top: 0;
}

.posts {
  align-items: center;
  background: rgb(255 255 255 / 60%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 100%;
}

.new-post-form {
  align-items: center;
  background: rgb(255 255 255 / 60%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 100%;
}

.new-post-form-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
}

.new-post-sections {
  background: rgb(255 255 255 / 60%);
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 0.5rem;
  max-width: 40rem;
  overflow: hidden;
  width: 100%;
}

.new-post-text-section {
  background: none;
  border: none;
  box-sizing: border-box;
  color: black;
  flex: 1;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 1rem;
  resize: none;
  outline: none;
}

.new-post-text-section::placeholder {
  color: rgb(0 0 0 / 60%);
}

.new-post-text-section:focus {
  background: rgb(255 255 255 / 60%);
}

.new-post-form button {
  align-content: center;
  background-color: rgb(255 255 255 / 80%);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  font-family: "M PLUS Rounded 1c", sans-serif;
  height: 2rem;
  padding: 0.5rem;
  outline: none;
}

.new-post-form button:hover {
  background-color: rgb(255 255 255 / 80%);
}

.new-post-form button:active {
  background-color: rgb(255 255 255 / 100%);
}

.new-post-form button svg {
  fill: black;
  width: 1rem;
}

@media (prefers-color-scheme: dark) {
  .posts {
    background-color: rgb(0 0 0 / 60%);
    color: white;
  }

  .room {
    background-color: rgb(0 0 0 / 20%);
    color: white;
  }

  .room-container {
    background-color: rgb(0 0 0 / 60%);
    border: 0.1rem solid black;
  }

  .room-header {
    background: linear-gradient(0deg, rgb(0 0 0 / 60%), transparent);
    color: white;
  }

  .room-created-at {
    color: rgb(255 255 255 / 60%)
  }

  .new-post-form {
    background-color: rgb(0 0 0 / 60%);
  }

  .new-post-sections {
    background: rgb(0 0 0 / 60%);
    border: 0.1rem solid black;
    color: white;
  }

  .new-post-text-section {
    background: none;
    color: white;
  }

  .new-post-text-section::placeholder {
    color: rgb(255 255 255 / 60%);
  }

  .new-post-text-section:focus {
    background: rgb(0 0 0 / 60%);
  }

  .new-post-form button svg {
    fill: white;
  }
  
  .new-post-form button {
    background: rgb(0 0 0 / 60%);
  }
  
  .new-post-form button:hover {
    background: rgb(0 0 0 / 80%);
  }
  
  .new-post-form button:active {
    background: rgb(0 0 0 / 100%);
  }
}
