.sign-in {
    align-self: center;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    max-width: 40rem;
    padding: 1rem 2rem 5rem;
}
  
.sign-in form {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
}

button.error {
  margin-bottom: 3.1rem;
}

@media (prefers-color-scheme: dark) {
  .sign-in {
    background-color: black;
    color: white;
  }
}