@keyframes flicker {
  0%, 10%, 25%, 35%, 45%, 100% {
    filter: drop-shadow(0 0 1px rgb(255 255 255 / 95%))
            drop-shadow(0 0 2px rgb(255 255 255 / 25%))
            drop-shadow(0 0 3px rgb(255 255 255 / 25%))
            drop-shadow(0 0 5px rgb(255 255 255 / 50%))
            drop-shadow(0 0 10px rgb(255 255 255 / 50%))
            drop-shadow(0 0 15px rgb(255 255 255 / 50%))
            drop-shadow(0 0 20px rgb(255 255 255 / 75%));
  }

  5%, 40% {
    filter: drop-shadow(0 0 1px rgb(255 255 255 / 85%))
            drop-shadow(0 0 2px rgb(255 255 255 / 50%))
            drop-shadow(0 0 4px rgb(255 255 255 / 50%))
            drop-shadow(0 0 5px rgb(255 255 255 / 50%))
            drop-shadow(0 0 10px rgb(255 255 255 / 50%))
            drop-shadow(0 0 15px rgb(255 255 255 / 50%))
            drop-shadow(0 0 20px rgb(255 255 255 / 75%));
  }

  30% {
    filter: drop-shadow(0 0 1px rgb(255 255 255 / 95%))
            drop-shadow(0 0 2px rgb(255 255 255 / 50%))
            drop-shadow(0 0 4px rgb(255 255 255 / 75%))
            drop-shadow(0 0 5px rgb(255 255 255 / 50%))
            drop-shadow(0 0 10px rgb(255 255 255 / 50%))
            drop-shadow(0 0 15px rgb(255 255 255 / 50%))
            drop-shadow(0 0 20px rgb(255 255 255 / 100%));
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.header {
  align-items: center;
  background-color: rgb(255 255 255 / 40%);
  border-bottom: 0.1rem solid white;
  color-scheme: light dark;
  display: flex;
  justify-content: space-between;
}
  
.header div {
  display: flex;
}
  
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 1rem;
}

.menu-button:hover {
  background: rgb(0 0 0 / 20%);
}

.menu-button:active, .menu-button-active {
  background: rgb(0 0 0 / 10%);
}
  
.menu-button svg {
  color-scheme: light dark;
  fill: black;
  width: 1rem;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.footer {
  background-color: rgb(255 255 255 / 40%);
  border-top: 0.1rem solid white;
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  padding: 0.25rem 0;
}
  
.footer a {
  border-right: 1px solid rgb(0 0 0 / 60%);
  color: rgb(0 0 0 / 60%);
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}

.footer a:hover {
  color: rgb(0 0 0 / 80%);
}

.footer a:active {
  color: rgb(0 0 0 / 100%);
}

.footer a:visited {
  color: rgb(0 0 0 / 60%);
}
  
.footer a:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: rgb(0 0 0 / 40%);
        border-bottom: 0.1rem solid black;
      }
    
      .menu-button svg {
        fill: white;
      }
      
      .menu-button {
        background: none;
      }
    
      .menu-button:hover {
        background: rgb(255 255 255 / 20%);
      }
      
      .menu-button:active, .menu-button-active {
        background: rgb(255 255 255 / 10%);
      }
    
      .header svg {
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-name: flicker;
        animation-timing-function: linear;
        stroke: white;
      }
    
      .footer {
        background-color: rgb(0 0 0 / 40%);
        border-top: 0.1rem solid black;
      }
    
      .footer a {
        border-color: rgb(255 255 255 / 60%);
        color: rgb(255 255 255 / 60%);
      }
    
      .footer a:active {
        color: rgb(255 255 255 / 100%);
      }
    
      .footer a:hover {
        color: rgb(255 255 255 / 80%);
      }
    
      .footer a:visited {
        color: rgb(255 255 255 / 60%);
      }
}