.new-post-form {
  align-items: center;
  background: rgb(255 255 255 / 60%);
  border-top: 0.1rem solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
  padding: 0.5rem 1rem;
  transition:
    max-height 1s linear,
    padding-top 1s linear,
    padding-bottom 1s linear;
  width: 100%;
}

.new-post-form-hidden {
  border-width: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.new-post-form-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
}

.new-post-sections {
  background: rgb(255 255 255 / 60%);
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 40rem;
  overflow: hidden;
  width: 100%;
}

.new-post-text-section {
  background: none;
  border: none;
  box-sizing: border-box;
  color: black;
  flex: 1;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 1rem;
  resize: none;
  outline: none;
}

.new-post-text-section:last-child {
  padding-bottom: 3rem;
}

.new-post-text-section::placeholder {
  color: rgb(0 0 0 / 60%);
}

.new-post-text-section:focus {
  background: rgb(255 255 255 / 60%);
}

.action-buttons {
  display: flex;
  flex-direction: row;
  margin-top: -3rem;
}

.attach-button,
.new-post-button {
  margin: 0.5rem;
}

div[data-theme="dark"] {
  .new-post-form {
    background: rgb(0 0 0 / 60%);
    border-top: 0.1rem solid black;
  }

  .new-post-sections {
    background: rgb(0 0 0 / 60%);
    border: 0.1rem solid black;
    color: white;
  }

  .new-post-text-section {
    background: none;
    color: white;
  }

  .new-post-text-section::placeholder {
    color: rgb(255 255 255 / 60%);
  }

  .new-post-text-section:focus {
    background: rgb(0 0 0 / 60%);
  }
}
