@import 'https://fonts.googleapis.com/css2?family=Flow+Rounded&family=M+PLUS+Rounded+1c&display=swap';

@keyframes background-color-rotate-hue {
  0%, 100% {
    background-color: lab(50% 125 125 / 50%);
  }

  25% {
    background-color: lab(50% -125 125 / 50%);
  }

  50% {
    background-color: lab(50% -125 -125 / 50%);
  }

  75% {
    background-color: lab(50% 125 -125 / 50%);
  }
}

html, body, #root {
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  animation-duration: 360s;
  animation-iteration-count: infinite;
  animation-name: background-color-rotate-hue;
  animation-timing-function: linear;
  font-family: "M PLUS Rounded 1c", sans-serif;
}